body {
    padding-top: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.top{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    background-color: firebrick;
}
img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.bottomDiv{
    padding: 50px;
    background-color: whitesmoke;
}
.numbers{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}
h4{
    font-weight: bold;
}
.info{
    display: flex;
    justify-content: space-evenly;
}
.followBtn{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.followBtn button{
    border: none;
    height: 50px;
    width: 200px;
    color: white;
    border-radius: 10px;
    background-color: #5A67D8;
}
